body{
  background-color:rgb(147,230,224)
}
p {
 font-size:25px;
font-style: normal;
color: black;
font-family: sans-serif;
}

 h5 {font-size: 50px;
 font-style: normal;
color:black;
font-weight: bold;
font-family: monospace;
}

div#mel2 ul{font-size:25px;
 font-style: normal;
color:white;
font-family:sans-serif;
}
.bgd {
    background-color:rgb(147,230,224)!important;
}
div#title {background-color:rgb(147,230,224)}
