

head{
  font-family: cursive;
}

body{
       background-color:rgb(147,230,224);
}

.Products{
  background-color:rgb(147,230,224);
  text-align:center;
  font-size: 70px;
  font-style: normal;
  font-family: sans-serif;
  color:rgb(50,50,50);

}

.Title
