

head{
  font-family: cursive;
}

body{
       background-color:rgb(147,230,224);
}

.Products{
  background-color:rgb(147,230,224);
  text-align:center;
  font-size: 70px;
  font-style: normal;
  font-family: sans-serif;
  color:rgb(50,50,50);

}

.contact-form{
  text-align: center;
}

.title{
  text-align: center;
  font-size: 70px;
}

.Hamilton{
  text-align: center;
  font-size: 30px;
}

.DEH{
  margin-left: 20px;
  font-size: 20px;
}

.Hadestown{
  font-size: 18px
}

.Matilda{
  text-align: center;
}
h1{text-align: center;}

.dates{
  font-size: 30px;
  text-align: center;
}

.Month{
font-size: 25px
margin-left: 20px;
}

.alert{
    display: none;
}
